.favoriteMain img{
    width: 100px;
}

.favoriteMain{
    color:grey;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 2px 2px 2px rgb(201, 197, 197);
}

.favoriteMain h4{
    text-align: center;
}

.favoriteMain button{
    text-align: center;
    background: white;
    color: #f3ebeb;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: #bebbbb;
}

.favoriteMain button:hover{
    background: #afaeae;
    color: grey;
}